<div class="row">
    <h1>BRENUEL Dashboard</h1>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>
<iframe width="1" height="1" src="https://www.youtube.com/embed/Rhj2rbKeUJg?rel=0&amp;controls=0&amp;showinfo=0;rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        @foreach (List<object> row in ViewBag.table)
        {
            <tr>
                @for (int i = 0; i < 8; i++)
                {
                    <td>
                        @try
                        {
                            @row[i]
                        }
                        catch (Exception)
                        {
                            //{ { null} }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>